<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function playAudio() {
            var audio = document.getElementById('audioPlayer');
            audio.src = "/play/{{ filename }}";
            audio.play();
        }
    </script>
</head>
<body>
    <h1>WAV Player</h1>
    <button onclick="playAudio()">Play</button>
    <audio id="audioPlayer" controls></audio>
    <br>
    <a href="/">Upload another file</a>
</body>
</html>